*.dll

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
# Uncomment if necessary however generally it will be regenerated when needed.
#! **/packages/repositories.config

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.log

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess

# Other common files to ignore
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
